<div class="my-4" *ngIf="!showCode; else elseBlock">
  <h2>Forget Password:</h2>
  <div *ngIf="apiError" class="alert alert-danger p-0">
    <p class="m-0 p-1">{{ apiError }}</p>
  </div>
  <form
    [formGroup]="emailForForgetPassword"
    (ngSubmit)="forgetPassword(emailForForgetPassword)"
  >
    <div class="mt-2">
      <label for="">Email:</label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        placeholder="Enter Email"
      />
    </div>

    <div
      class="alert alert-danger mt-1 p-2"
      *ngIf="
        emailForForgetPassword.get('email')?.touched &&
        emailForForgetPassword.get('email')?.errors
      "
    >
      <p
        class="m-0 p-1"
        *ngIf="emailForForgetPassword.get('email')?.errors?.['required']"
      >
        Email is Required
      </p>
      <p
        class="m-0 p-1"
        *ngIf="emailForForgetPassword.get('email')?.errors?.['email']"
      >
        Enter valid Email
      </p>
    </div>

    <button
      class="bg-main text-white p-2 rounded border-0 mt-3 d-block ms-auto mt-3 d-block ms-auto"
    >
      <span *ngIf="!isLoading">Send Email</span>
      <i *ngIf="isLoading" class="fa fa-spin fa-spinner"></i>
    </button>
  </form>
</div>

<ng-template #elseBlock>
  <div class="my-4">
    <h2>Reset Code:</h2>
    <div *ngIf="apiError" class="alert alert-danger p-0">
      <p class="m-0 p-1">{{ apiError }}</p>
    </div>
    <form [formGroup]="resetCodeData" (ngSubmit)="applyCode(resetCodeData)">
      <div class="mt-2">
        <label for="">ResetCode:</label>
        <input
          formControlName="resetCode"
          type="text"
          class="form-control"
          placeholder="Enter Reset Code"
        />
      </div>

      <button
        class="bg-main text-white p-2 rounded border-0 d-block ms-auto mt-3 d-block ms-auto"
      >
        <span *ngIf="!isLoading">Apply</span>
        <i *ngIf="isLoading" class="fa fa-spin fa-spinner"></i>
      </button>
    </form>
  </div>
</ng-template>
