<div class="row gx-0">
  <div class="col-md-9">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide
        ><img
          height="400px"
          class="w-100"
          src="assets/images/main-slider-1.jpeg"
      /></ng-template>
      <ng-template carouselSlide
        ><img
          height="400px"
          class="w-100"
          src="assets/images/main-slider-2.jpeg"
      /></ng-template>
      <ng-template carouselSlide
        ><img
          height="400px"
          class="w-100"
          src="assets/images/main-slider-3.jpeg"
      /></ng-template>
    </owl-carousel-o>
  </div>
  <div class="col-md-3">
    <img height="200" class="w-100" src="assets/images/main-slider-3.jpeg" />
    <img height="200" class="w-100" src="assets/images/main-slider-2.jpeg" />
  </div>
</div>
