<div class="my-4">
  <h2>Update Password:</h2>
  <div *ngIf="apiError" class="alert alert-danger p-0">
    <p class="m-0 p-1">{{ apiError }}</p>
  </div>
  <form
    [formGroup]="updatePasswordForm"
    (ngSubmit)="updatePassword(updatePasswordForm)"
  >
    <div class="mt-2">
      <label for="">Current Password:</label>
      <input
        formControlName="currentPassword"
        type="password"
        class="form-control"
      />

      <div
        class="alert alert-danger mt-1 p-2"
        *ngIf="
          updatePasswordForm.get('currentPassword')?.touched &&
          updatePasswordForm.get('currentPassword')?.errors
        "
      >
        <p
          class="m-0 p-1"
          *ngIf="updatePasswordForm.get('currentPassword')?.errors?.['required']"
        >
          Password is Required
        </p>
        <p
          class="m-0 p-1"
          *ngIf="updatePasswordForm.get('currentPassword')?.errors?.['pattern']"
        >
          Password Should Start with capital letter and contains number and min
          letters is 6
        </p>
      </div>
    </div>

    <div class="mt-2">
      <label for="">Password:</label>
      <input formControlName="password" type="password" class="form-control" />

      <div
        class="alert alert-danger mt-1 p-2"
        *ngIf="
          updatePasswordForm.get('password')?.touched &&
          updatePasswordForm.get('password')?.errors
        "
      >
        <p
          class="m-0 p-1"
          *ngIf="updatePasswordForm.get('password')?.errors?.['required']"
        >
          Password is Required
        </p>
        <p
          class="m-0 p-1"
          *ngIf="updatePasswordForm.get('password')?.errors?.['pattern']"
        >
          Password Should Start with capital letter and contains number and min
          letters is 6
        </p>
      </div>
    </div>

    <div class="mt-2">
      <label for="">RePassword:</label>
      <input
        formControlName="rePassword"
        type="password"
        class="form-control"
      />

      <div
        class="alert alert-danger mt-1 p-2"
        *ngIf="
          updatePasswordForm.get('rePassword')?.touched &&
          updatePasswordForm.get('rePassword')?.errors
        "
      >
        <p
          class="m-0 p-1"
          *ngIf="updatePasswordForm.get('rePassword')?.errors?.['required']"
        >
          rePassword is Required
        </p>
        <p
          class="m-0 p-1"
          *ngIf="updatePasswordForm.get('rePassword')?.errors?.['rePasswordMatch']"
        >
          rePassword should match the password
        </p>
      </div>
    </div>

    <button
      class="bg-main text-white btn-secondary rounded border-0 p-2 mt-3 d-block ms-auto"
      [disabled]="updatePasswordForm.invalid"
    >
      <span *ngIf="!isLoading">Update</span>
      <i *ngIf="isLoading" class="fa fa-spin fa-spinner"></i>
    </button>
  </form>
</div>
